<md-tab-group>
    <md-tab label="Modulos">
        <app-modules-select></app-modules-select>
    </md-tab>
    <md-tab label="Configuración">
        <app-crear-settings></app-crear-settings>
    </md-tab>
</md-tab-group>