<md-card class="config-card">
  <md-card-header>
    <md-card-title><h3>Configuración artifactory</h3></md-card-title>
    <md-card-subtitle>Aqui se configura la url del servidor de artifactory y el nombre del paquete de la compañia</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/images/config_banner.svg">
  <md-card-content>
    <form name="configs-form">

      <md-input-container floatPlaceholder="auto" class="full-width">
        <input mdInput #config.url name="config.url" [(ngModel)]="config.url" type="url" required placeholder="Url del servidor artifactory" >
        <md-hint align="start">
          (Ej. http://company.domain/artifactory)
        </md-hint>
      </md-input-container>

      <md-input-container [floatPlaceholder]="auto" class="full-width">
        <input mdInput #config.companyPackage name="config.companyPackage" [(ngModel)]="config.companyPackage" type="text" required placeholder="Paquete de la compañía" >
        <md-hint align="start">
          ( Ej. com.example)
        </md-hint>
      </md-input-container>

      <md-input-container [floatPlaceholder]="auto" class="full-width">
        <input mdInput #config.companyPackage name="config.username" [(ngModel)]="config.username" type="text" required placeholder="Usuario artifactory" >
        <md-hint align="start">
          Usuario para usar el API de artifactory
        </md-hint>
      </md-input-container>

      <md-input-container [floatPlaceholder]="auto" class="full-width">
        <input mdInput #config.companyPackage name="config.password" [(ngModel)]="config.password" type="password" required placeholder="Contraseña artifactory" >
        <md-hint align="start">
          Usuario para usar el API de artifactory
        </md-hint>
      </md-input-container>

    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button (click)="reset()">valores por defecto</button>
  </md-card-actions>
</md-card>
